body {
  overflow: hidden;
  background: #eee;
}

.clock {
  position: fixed;
  top: calc((100vh - 100vmin) / 2);
  left: calc((100vw - 100vmin) / 2);
  width: 100vmin;
  height: 100vmin;
}

.face {
  transform: translate(50vmin, 50vmin);
}

.quarter-hour-tick {
  stroke: black;
  stroke-width: 0.3vmin;
}

.hour-tick {
  stroke: black;
  stroke-width: 1vmin;
  stroke-linecap: round;
}

.hour-text {
  fill: black;
  text-anchor: middle;
  alignment-baseline: central;
  font-size: 5vmin;
  font-family: sans-serif;
}

.hand line {
  stroke-width: 2.3vmin;
  stroke: black;
}

.hand text {
  fill: white;
  font-family: sans-serif;
  font-size: 1.7vmin;
  alignment-baseline: central;
  text-anchor: middle;
}

.dateline line {
  stroke: black;
  stroke-width: 0.3vmin;
}

.dateline text {
  fill: black;
  font-family: sans-serif;
  font-size: 1.7vmin;
  alignment-baseline: central;
  text-anchor: middle;
}
