body {
  overflow: hidden;
  background: white;
}

.clock {
  position: fixed;
  top: calc((100vh - 100vmin) / 2);
  left: calc((100vw - 100vmin) / 2);
  width: 100vmin;
  height: 100vmin;
}

.face {
  transform: translate(50vmin, 50vmin);
}

.circle {
  fill: black;
  stroke: black;
  cx: 0;
  cy: 0;
  r: 40vmin;
}

.quarter-hour-tick {
  stroke: white;
  stroke-width: 0.3vmin;
}

.hour-tick {
  stroke: white;
  stroke-width: 1vmin;
  stroke-linecap: round;
}

.hour-text {
  fill: white;
  text-anchor: middle;
  alignment-baseline: central;
  font-size: 5vmin;
  font-family: sans-serif;
}

.hand {
  stroke-width: 1vmin;
}
